/* Repo V. 2 test */

.sec1,
.sec2,
.sec3 {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

html {
    min-height: 100vh;
}

#firstbutton {}

.btn-warning {
    font-size: 75%;
    width: 100px;
    font-weight: 700;
    color: rgb(3, 3, 58);
}

.subcategories:hover {
    background-color: orange;
}

.welcome {
    font-weight: 700;
    font-size: 25px;
}

.categories {
    color: rgb(255, 246, 246);
    display: flex;
    flex-direction: column;
    line-height: 300%;
    max-width: 270px;
}

.categories:hover {
    color: white;
    background-color: white;
}

.sec1 {
    background-color: #ABE6CE;
}

.email {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;
}

.email:hover {
    background-color: white;
}

#highlighted {
    background-color: white;
}

.sec2 {
    background-color: #DCEDC2;
}

.email-topline {
    display: flex;
}

.sec-3 {
    background-color: #FFD3D5;
    padding-left: 75px;
    padding-right: 75px;
}

.col7-header {}

.email-title {
    font: 1.4em "Fira Sans", sans-serif;
}

.e-content {
    font: 1em "monospace", courier-new;
}

.replybox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#reply {
    position: relative;
    bottom: 30px;
}

.bi-paperclip {
    position: relative;
    bottom: 56px;
    right: 293px;
    color: gray;
}

.subjectmaterial {
    margin: 0;
}